.container {
    width: 1200px; 
}

table {
    margin-top: 20px;
    margin-bottom: 20px;  
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #00a050;
    color: white;
    border: none;
    font-size: 1em;
    cursor:pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    font-size: 0.8em;
}

tbody tr:nth-child(even) {
    background-color: #dddddd;
}